<form class="login-f">
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Log In</button>
    </div>
</form>

<form class="signup">
    <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="pw-signup">Password:</label>
        <input type="pw" id="pw-signup" />
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>

<script src="/javascript/login.js"></script>